@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #84DCC6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}
.login-holder {
  justify-content: center;
  align-items: center;
}
.loginCTN {
  background: #A5FFD6;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(35, 34, 34, 0.5);
  width: 300px;
  text-align: center;
  align-items: center;
  border: 3px solid #5fa795;
  animation: fadeInDown 0.8s ease;
}
.loginCTN:hover{
  scale: 1.1;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
h1 {
  margin-bottom: 20px;
  color: #FF686B;
}
label {
  font-size: 14px;
  font-weight: bold;
  float: left;
  margin-bottom: 5px;
  color: #FF686B;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #FF686B;
  border-radius: 5px;
  outline: none;
  background-color: #84DCC6;
  color: #683e39;
}
input[type="button"] {
  width: 100%;
  padding: 10px;
  background: #FFA69E;
  color: #780000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.2s ease, background 0.3s ease;
}
input[type="button"]:hover {
  background: #FF686B;
  color: #FDF0D5;
  transform: scale(1.05);
}
.message {
  margin-top: 15px;
  font-size: 14px;
}
.password-wrapper {
  position: relative;
}
.togglePass {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #c06057;
  font-size: 18px;
}
.togglePass i {
  transition: transform 0.3s ease;
}
.togglePass i.rotate {
  transform: rotate(180deg);
}
