body{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #181715;
    justify-content: center;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.container{
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 400px;
    background-color: #1d1d1a;
    border: 1px solid black;
    border-radius: 20px;
}
h1,h6{
    color: #B5B8A6
}
input{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 2px 5px 3px;
    border: 2px solid gray;
    border-radius: 5px;
}
button{
    margin-top: 20px;
    color: #B5B8A6;
    background-color: #695e5e;
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    cursor: pointer;
    border: none
}
.input-container{
    font-size: 10px;
    color: #B5B8A6;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}