body{
<<<<<<< HEAD
    color:#00000;
=======
>>>>>>> DEQUIROS-js
    display: flex;
    flex-direction:column;
place-content: center;
text-align: start;
align-item: center:
<<<<<<< HEAD
=======

>>>>>>> DEQUIROS-js
}

