body {
    font-family: Arial, sans-serif;
        background-image: linear-gradient(#ff9500db, rgb(232, 242, 246));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.login-container {
    background-color: rgba(193, 201, 208, 0.393);
    backdrop-filter: blur(40px);
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.inputUsername {
    margin-bottom: 15px;
    text-align: left;
}

.inputUsername label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.inputUsername input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box; 
}

.inputPassword {
    margin-bottom: 15px;
    text-align: left;
}

.inputPassword label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.inputPassword input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box; 
}

button {
    background-color: #6c6a64;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    font-weight: bold;
}

button:hover {
    background-color: #ffaa00;
    font-weight: bold;
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 0.9em;
}