body{
    background-color: #b8c1ec;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}h1{
    font-family: monospace;
    font-size: 3rem;
    text-align: center;
    color: #fffffe;
}.container{
    background-color: #232946;
    padding: 25px;
    border: 2px solid #121629;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 20px;
}.formCon{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px;
    position: relative;
}
    .labels{
        font-family: monospace; 
        color: #b8c1ec;       
    }
    input{
        padding: 10px;
        border-radius: 15px;
        font-family: monospace;
    }button{
        padding: 10px;
        width: 30%;
        align-self: center;
        border-radius: 15px;
        font-size: 0.9rem;
        font-family: monospace;
        cursor: pointer;
        background-color: #eebbc3;
        color: #232946;
        border: 0px;
        position: absolute;
        bottom: 0px;
        border: 2px solid #121629;
    }