body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ffe6e6, #ffcccc);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #ffffff; 
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    width: 320px;
    text-align: center;
    border-top: 5px solid #890b0b;
    border-bottom: 5px solid #890b0b;
}

.login-container h2 {
    margin-bottom: 25px;
    color: #890b0b;
}

.input-group {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #890b0b;
    box-shadow: 0 0 5px rgba(223, 44, 44, 0.5);
}

button {
    width: 100%;
    padding: 12px;
    background-color: #890b0b;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: #890b0b;
}

#error-message {
    color: #373737;
    font-size: 14px;
    margin-top: 10px;
}
