body {
    font-family: Arial, sans-serif;
    background-color: #f9d8f3;
    margin: 0;
    padding: 0;
}

.login-container {
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #f6a9e0;
}
h1 {
    text-align: center;
    color: #333;
}
#btnSub {
    width: 100%;
    padding: 10px;
    background-color: #6d1071;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;

}
.afterSubmit {
    text-align: center;
    margin-top: 20px;
    color: #333;
}